.contact {
	
	&-person {
		margin: 40px 0;
		

		&:last-of-type {
			margin-bottom: 0;
		}

		& li {

			line-height: 1.4;
		}
	}

	&-name {
		font-weight: bold;
	}

	&-title {
		font-style: italic;
	}

	&-section ul {
		
		padding-left: 15px;
		vertical-align: top;
		
		@include respond-to(small) {
			display: inline-block;
			width: 49%;
			padding-left: 0;
		}
		
	}
}

