.contact {
	
	&-person {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}
	}

	&-name {
		font-weight: bold;
	}

	&-title {
		font-style: italic;
	}

	&-section ul {
		
		vertical-align: top;
		@include respond-to(small) {
			display: inline-block;
			width: 49%;
		}
		
	}
}

