.formstack {
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;

	& .section {

		text-align: left;
	}
}


.fsBody .fsForm input[type=text].fsRequired, .fsBody .fsForm input[type=file].fsRequired, .fsBody .fsForm input[type=number].fsRequired, .fsBody .fsForm input[type=email].fsRequired, .fsBody .fsForm input[type=tel].fsRequired, .fsBody .fsForm textarea.fsRequired, .fsBody .fsForm select.fsRequired {

	border-color: #636161 !important;
}

.fsBody .fsForm input[type=text].fsField, .fsBody .fsForm input[type=file].fsField, .fsBody .fsForm input[type=number].fsField, .fsBody .fsForm input[type=email].fsField, .fsBody .fsForm input[type=tel].fsField, .fsBody .fsForm textarea.fsField, .fsBody .fsForm select.fsField {

	border-color: #636161 !important;
}

.fsboxshadow .fsBody .fsForm {


	
	@include respond-to(small) {
		padding: 50px;
		box-shadow: 0 2px 5px 0 rgba(62, 62, 62, 0.86), 0 2px 10px 0 rgba(62, 62, 62, 0.82) !important;
	}
}

.fsBody .fsForm .fsSectionHeader {

	margin: 0;
	padding-bottom: 0;
}