.jumbotron .jumbotron--primary-heading {
	font-size: 10vw;
	font-weight: 400;

	@include respond-to(small) {
		font-size: 5vw;
	}
}






.jumbotron {
	
	color: white;
	background-color: #ccc;
	text-align: center;
	background: #282828 url(../img/banner-landing-gray.png?1426543668) center bottom repeat-x;
	border-bottom: 1px solid #092931;
	background-size: cover;
	// background: #282828 url(../img/mattingly-ford-main-header-edit.jpg) center bottom repeat-x;
	
	@include respond-to(small) {
		text-align: left;
	}
	
	p {
		color: white;
	}
	
	h1 {
		font-weight: 400;
	}

	&__image {
	border: 5px #F7F7F7 solid;
	border-radius: 5px;
	-webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	-moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.46), 0 2px 10px 0 rgba(0, 0, 0, 0.42);

	margin-top: 20px;

	@include respond-to(small) {
		margin-top: 0;
	}
}

}


